{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <!-- Background Section -->
  <div class="background">
    <div class="welcome-background">
      <h1>Welcome to getDailyDrink</h1>
      <p>Please take your time to get your daily drink recommendation</p>
      <button class="btn start-quiz">Start Quiz</button>
    </div>
    <form class="question-container none">
      <div class="question-group" id="1">
        <label for="gender"> What is your gender? </label>
        <input type="checkbox" />Male <input type="checkbox" />Female
      </div>
      <div class="question-group" id="2">
        <label for="age">What is your age?</label>
        <input
          type="number"
          id="age"
          name="age"
          min="1"
          max="120"
          required
        />
      </div>
      <div class="question-group none" id="3">
        <label for="activity-level">What is your activity level?</label>
        <select id="activity-level" name="activity-level" required>
          <option value="sedentary">Sedentary</option>
          <option value="lightly-active">Lightly Active</option>
          <option value="moderately-active">Moderately Active</option>
          <option value="very-active">Very Active</option>
        </select>
      </div>
      <div class="question-group none">
        <label for="climate"
          >What is the climate like where you live?</label
        >
        <select id="climate" name="climate" required>
          <option value="cold">Cold</option>
          <option value="temperate">Temperate</option>
          <option value="hot">Hot</option>
        </select>
      </div>
      <div class="question-group-none">
        <label for="weight">What is your weight (in kg)?</label>
        <input
          type="number"
          id="weight"
          name="weight"
          min="1"
          max="300"
          required
        />
      </div>

      <label for="health-conditions"
        >Do you have any health conditions?</label
      >
      <textarea
        id="health-conditions"
        name="health-conditions"
        rows="4"
        cols="50"
      ></textarea>
      <div class="buttons none">
        <button id="prev-button" class="btn" onclick="prevQuestion()">
          Previous
        </button>
        <button id="next-button" class="btn" onclick="nextQuestion()">
          Next
        </button>
      </div>
      <button
        id="submit-button"
        class="btn"
        onclick="submitAnswers()"
        style="display: none"
      >
        Submit
      </button>
    </form>
  </div>
  <!-- Result Section -->
  <div id="result" class="result-container" style="display: none">
    <h2>Your Results</h2>
    <p id="final-result"></p>
  </div>
</div>
{% endblock content %}