<footer>
    <p>
      &copy; 2024
      <a href="https://github.com/Otterbass">Otterbass</a>,
      <a href="https://github.com/e1237k">amineratit</a> &
      <a href="#">cheerios</a>
    </p>
    <p class="warning">
      “This is a demo web app providing general information on hydration and
      dietary intake. While it is generally recommended that women drink
      around 2.7 liters and men 3.7 liters of total water daily, hydration
      needs can vary based on factors such as climate, physical activity
      level, weight, and individual health conditions. This app does not offer
      medical advice. Caffeinated beverages, foods, and other factors also
      contribute to hydration, and maintaining a balance of salt and potassium
      intake is essential for overall health. Please consult a healthcare
      professional before making any changes to your hydration or dietary
      routine.”
    </p>
  </footer>
